.footer{
    max-height:400px ;
    margin-top: 10px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color:whitesmoke;  
    border-bottom: 5px solid rgb(197, 48, 97);
}
.footer-box{
    padding: 5px;
    width: 23%;
    padding: 10px;
}
.footer-box p{
    padding-right: 10px;
    font-size: 20px;
}
.footer-box button{
    background-color:rgb(197, 48, 97) ;
    height: 50px;
    width: 100px;
    border-radius:100px;
    border: white solid 3px;
    color: white;
}
.footer-box input{
    border-radius: 100px;
    height: 50px;
    border: rgb(197, 48, 97) solid 3px;
    width: 90%;
    margin-right: 10px;
}
.footer-box a{
    text-decoration: none;
    color: black;

}
.footer-box a:hover,button:hover{
    font-weight: bold;
}

.footer-box h3{
    color: rgb(197, 48, 97);
    font-size: 28px;
}
.footer-box #error{
  color: red;
  font-size: 12px;
  margin-left: 20px;
}

.fa {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    border: 3px solid rgb(197, 48, 97);
 
  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa-facebook {
    background:whitesmoke;
    color: black;
  }
  .fa-twitter {
    background: whitesmoke;
    color: black;
  }
  .fa-linkedin {
    background: whitesmoke;
    color: black;
  }
  .fa-instagram{
    background: whitesmoke;
    color: black;
  }
  .social-media-icons{
    text-align: center;
    border-bottom: 5px solid rgb(197, 48, 97);
 
  }
  #input-field{
    position: relative;
  }
  #input-field input{
    background:transparent;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
  }
  #input-field label{
    position: absolute;
    top: 20%;
    left:15px;
    transform: translateY(-50%);
    color: #0d0b0b;
    font-size: 19px;
    pointer-events: none;
    transition: .3s;
    
  }
  #input-field input:focus{
    border:2px solid rgb(197, 48, 97);
  }
  #input-field  input:focus ~ label,
  #input-field  input:valid ~ label{
    top: 0;
    padding: 0 25px;
    font-size: 19px;
    background: whitesmoke;
  }
  