/* *{
    text-decoration: none;
    color: aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}  */

body{
    min-height: 100vh;
    background-size: cover;
}

.sign{
    height: 25px;
}
.sign ul{
    text-align: right;
    display: flex;
    align-items: right;
    justify-content: right;
    list-style: none;
    margin-top: 5px;
    margin-right: 12px;
    padding-left: 10px;
}
.sign li{
    
    padding-left: 15px;
}
.sign button{
    border: none;
    background-color: gold;
    width:100px;
    height: 25px;
    color:gray;

}

.sign button:hover{
    font-weight: bold;
}

 #navbar{
    
    background: rgb(197, 48, 97);   
    display: flex;
    align-items: center;
    margin-bottom: 20px;
} 


#img{

    height: 50px;
    width: 50px;
    

} 
nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    width: 100%;
    
}
nav li{
    height: 25%;   
}
nav a{
    height: 100%;
    display: flex;
    padding: 0 30px;
    font-size: 18px;
    text-decoration: none;
    color: aliceblue;
    font-family: ITC Avant Garde Gothic;
    font-weight: bold;
 
}
nav li:last-child{
    padding-left: 0;
}
nav a:hover{
    font-size: 20px;
}
.logo{
    display: flex;
   padding:0 10px;
   align-items: center;
   justify-content: space-between;
}
.logo p{
    padding-left: 10px;
    font-size: 16px;
    text-decoration: none;
    color: aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
/* nav li:first-child{
    margin-right: auto;
    margin-right: 43%;
    justify-content: flex-start;
} */
.side_items{
    position:fixed;
    bottom: 0;
    right:  0;
    height: 81vh;
    width: 300px;
    z-index:999;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    background: rgb(197, 48, 97);    ;
    padding:0;
}
.side_items li{
    
    margin-top: 20px;
    width: 80%;
    padding-bottom: 30px;
    padding-left: 0;
}
@media(max-width: 900px){
    .hideOnMobile{
        display: none;
    }
}

