 h1{
    text-align: center;
}
.services .sub-div{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px black;
    width: 25%;
    height: 300px;
    margin-bottom: 10px;
    padding: 10px;
    margin: auto;
}

.services .sub-div h2{
    text-align: center;
   
}

 .sub-div .images{
    height: 230px;
    margin-left: 40px;
}
.sub-div .images img{
    height: 230px;
    width: 250px;
    padding-left: 20px;

}