.footer{
  margin-top: 10px;
  height: 270px;
  display: flex;
  background-color:black;  
  border-bottom: 5px solid black;
  color: azure;
}
.footer-box{
  padding: 5px;
  width: 25%;
}
.footer-box p{
  padding-right: 10px;
  font-size: 20px;
  color: azure;
}
.footer-box button{
  background-color:white ;
  height: 50px;
  width: 100px;
  border-radius:100px;
  border: white solid 3px;
  color:gray;
}
.footer-box input{
  border-radius: 100px;
  height: 50px;
  border: black solid 3px;
  width: 90%;
  margin-right: 10px;
}
.footer-box a{
  text-decoration: none;
  color:whitesmoke;

}
.footer-box a:hover,button:hover{
  font-weight: bold;
}

.footer-box h3{
  color: white;
  font-size: 28px;
}
.footer-box #error{
color: red;
font-size: 12px;
margin-left: 20px;
}

.fa {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  border: 3px solid black;

}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background:whitesmoke;
  color: black;
}
.fa-twitter {
  background: whitesmoke;
  color: black;
}
.fa-linkedin {
  background: whitesmoke;
  color: black;
}
.fa-instagram{
  background: whitesmoke;
  color: black;
}
.social-media-icons{
  text-align: center;
  border-bottom: 5px black;
}
#input-field{
  position: relative;
}
#input-field input{
  background:transparent;
  border:2px solid gray;
  font-size: 18px;
  padding-left: 10px;
}
#input-field label{
  position: absolute;
  top: 20%;
  left:15px;
  transform: translateY(-50%);
  color:whitesmoke;
  font-size: 19px;
  pointer-events: none;
  transition: .3s;
  
}
#input-field input:focus{
  border:2px solid gray;
}
#input-field  input:focus ~ label,
#input-field  input:valid ~ label{
  top: 0;
  padding: 0 25px;
  font-size: 19px;
  background: whitesmoke;
}
@media(max-width: 900px){
  .footer-box h3{
    font-size: 20px;
  }
  .footer-box p{
    font-size: 16px;
  }
  #input-field label{
    font-size: 16px;
  }
  #input-field  input:focus ~ label,
  #input-field  input:valid ~ label{
  font-size: 12px;
}
.footer-box:last-child {
  display:block;
}

}