#products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-width: 1000px;
}
#products .product-box{
    height: 570px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0  8px rgb(107, 98, 101);
    
}
#products .product-box .product-image{
    height: 300px;
    padding-top: 10px;
}
#products .product-box .product-image img{
    height: 300px;
    width: 100%;
    justify-content: center;
}
.product-box #button button{
    width: 100%;
    height: 40px;
    color: white;
    background-color: rgb(65, 62, 62);
    font-size: 16px;
    border-radius: 20px;
    border: 3px solid rgb(177, 164, 164);
}
.product-box #button button:hover{
    cursor: pointer;
    background-color: whitesmoke;
    color: rgb(65, 62, 62);
}
.product-box #button a{
    text-decoration: none;
    color: white;
}
#button a:hover{
    cursor: pointer;
    background-color: whitesmoke;
    color: rgb(65, 62, 62);
}
.product-box #button {
    margin-bottom: 10px;
}
.product-box p{
    color:rgb(197, 48, 97) ;
    font-size: 20px;
}
.product-box .pop-up{
    position: fixed;
    width: 300px;
    background: whitesmoke;
    border-radius: 6px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%)scale(1);
    text-align: center;
    padding: 0 30px 30px;
    display: none;
    transition: transform 0.4s, top 0.4s;
}
.pop-up img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
}